@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family:'Abel', sans-serif;
 overflow: visible;
}

a {
  color: inherit;
  text-decoration: none;
  cursor:pointer;
}

* {
  box-sizing: border-box;
}
