.navbar{
    font-family: 'Abel', sans-serif;
    background-color:#ece7df;
    }
    
    .navheader{
        text-align: left;
        word-wrap: normal;
        color:#ef6a47;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-size: 30px;
    }
    
    .drawerbutton{
        border:0px;
    }

    .drawerbutton:hover{
        cursor: pointer;
    }

    .drawer{
        height:100vh;
    }
    
